body {
    background-color: #eec;
    position: relative;
    min-height: 300px;
    overflow-y: scroll;
    overflow-x:hidden;
}

/**********************************/
/******** Head-Carousel **********/
/********************************/
.caroufredsel_wrapper {
    background-color: #333;
    left: 0 !important;
}
#carousel {
    min-height: 200px;
    position: absolute;
    left: 0;
}
#carousel img {
    height: 100%;
    width: auto;
    display: block;
    float: left;
    border: 3px Solid #eec;
}
.marginRight50 {margin-right:50px;}
/*****************************/
/****** Bewerbung ************/
/*****************************/

.cv table td:first-child {font-weight:bold;width:40%}
.cv table th:first-child {font-weight:bold;font-size:18px}
.application .applicationText {display:inline-block}
.application .jumbotron .picture {display:inline-block}
.application .model-body img {width: 100%;}

/*****************************/
/****** Index ****************/
/*****************************/
.navigation {width: 30%;height: auto;}